@import "tailwindcss";
@import "@nuxt/ui";
@plugin "@tailwindcss/typography";

@theme {
	--font-heading: "Plus Jakarta Sans", sans-serif;
	--aspect-video-card: 4 / 3;
}

@layer base {
	html {
		/* scroll-behavior: smooth; */
		scroll-padding-top: 7rem;
		overflow-x: clip;
	}

	body {
		font-family: "JetBrains Mono", monospace;
		overflow-x: clip;
	}

	h1, h2, h3, h4, h5, h6 {
		font-family: "Plus Jakarta Sans", sans-serif;
	}

	address {
		font-style: normal;
	}
}

:root,
.dark {
	--ui-bg: #000000;
}

::selection {
	background-color: var(--ui-primary);
	color: #000000;
}
